#matrix-tab{
    height:auto;
    margin-top:4rem;
    width:auto;
    display: inline-flex;
}

#matrix{
  height:auto;
  width:auto;
    
}



/* individual tile styling for matrix */
.tile{
    width: 28px;
    height: 28px;
    border:1px var(--color-tile-blue) solid;
    background-color: var(--color-charcol);
}

.tile:active{
  cursor: grab;
}


@keyframes blue-transition {
  
    0% {
      background-color: var(--color-indigo-visited-0);
    }
    25%{
      background-color: var(--color-blue-visited-1)
    }

    35%{
      background-color: var(--color-blue-visited-2);
    }

    100% {
      background-color: var(--color-blue-visited-end);
    }
  }


.visited-1{
    background-color: var(--color-blue-visited-end);
    animation: blue-transition 7s linear;
}

.visited-1-sync{
  background-color: var(--color-blue-visited-end);
}

@keyframes green-transition {
    0% {
      background-color: var(--color-shortest-path-0); 
    }
    50%{
      background-color:var(--color-shortest-path-1);
    }

    100% {
      background-color: var(--color-shortest-path-end);
    }
  }



.shortest-path{
    background-color: var(--color-shortest-path-end);
    animation: green-transition 2s linear;
}
.shortest-path-sync{
    background-color: var(--color-shortest-path-end);
    animation: green-transition 2s linear;
}


.wall{
    background-color: var(--color-white);
    border:1px var(--color-white) solid;

}


/* forms for setting height and width */

.set-dim-form{
    font-size:16px;
    background-color: black;
    min-height:32px;
    border-radius: 1rem;
    color: var(--color-white);
    padding-left:1rem;
}

.drag-icon-holder{
    min-width:100px;
    min-height:100px;
    border: 2px solid transparent;
    border-radius: 1rem;
  }
  

