#matrix-tab{
    margin-top:4rem;
    width:auto;
}

#matrix{
    width:auto;
    display:grid;
    grid-template-columns: repeat(10, 12vmax);
    grid-template-rows: repeat(10, 12vmax);
}



/* individual tile styling for matrix */
.tile{
    width: 28px;
    height: 28px;
    border:1px var(--color-tile-blue) solid;
    background-color: var(--color-charcol);
}


@keyframes blueTransition {
    0% {
      background-color: #e2dbf8;
    }
    100% {
      background-color: #1837cf;
    }
  }


.visited-1{
    background-color: var(--color-blue-visited-1);
    animation: blueTransition 5s linear;
}

@keyframes greenTransition {
    0% {
      background-color: #649089; 
    }
    100% {
      background-color: #00e700;
    }
  }



.shortest-path{
    background-color: #00e700;
    animation: greenTransition 2s linear;

}


.wall{
    background-color: var(--color-white);
    border:1px var(--color-white) solid;

}


/* forms for setting height and width */

.set-dim-form{
    background-color: black;
    min-height:32px;
    border-radius: 1rem;
    color: var(--color-white);
    padding-left:1rem;
}

.drag-icon-holder{
    min-width:100px;
    min-height:100px;
    border: 2px solid transparent;
    border-radius: 1rem;
  }
  
