#matrix-tab{
    width:auto;
}

#matrix{
    width:auto;
    display:grid;
    grid-template-columns: repeat(10, 12vmax);
    grid-template-rows: repeat(10, 12vmax);
}



/* individual tile styling for matrix */
.tile{
    width: 28px;
    height: 28px;
    border:1px var(--color-tile-blue) solid;
    background-color: var(--color-charcol);
}

.visited-1{
    background-color: var(--color-blue-visited-1);

}

.shortest-path{
    background-color: var(--color-yellow-pineapple);
}


.wall{
    background-color: var(--color-white);
    border:1px var(--color-white) solid;

}


/* forms for setting height and width */

.set-dim-form{
    background-color: black;
    min-height:32px;
    border-radius: 1rem;
    color: var(--color-white);
    padding-left:1rem;
}