

#remote{
    display: flex;
    align-items: center;
    min-width: 300px;
}



/* button styles, svg styles, etc */

.remote-btn{
    padding: 0rem;
    height:60px;
    width:60px;
    background-color: var(--color-charcol);
}

.svg-style{
    color: var(--color-white)
}

.svg-style:hover{
    color:var(--color-blue-hover);
}


.rotate-svg{
    transform:rotate(180deg)
}
