footer{
   
    min-height: 300px;
    width:100vw;
    background-color: var(--color-charcol);
    display: flex;

}

hr{
    margin: 1rem 0rem;
    width:80vw;
    color:grey;
    height:.5px;
}

@media screen and (max-width: 599px){
    #vis-footer{
        min-height:400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}

@media screen and (min-width:600px) {
    #vis-footer{
        justify-content: space-evenly;
        align-items: center;
    }
    #my-qr{
        max-height:200px;
        max-width:200px;
    
    }

}

footer > div{
    margin-bottom: 4rem;
}

#my-email{
    color: var(--color-white);
    font-size: 30px;
}