.splash-page{
    margin-top:2rem;
    color:var(--color-white)
}

#splash-section{
    margin-left:3rem;
    margin-right:3rem;
    width:80%;
    height:100%;
    background-color: var(--color-charcol);
    margin-bottom:1rem;
    padding-bottom: 2rem;
}




#splash-section > *{
    margin-top:3rem;
    margin-left:3rem;
    margin-right:3rem;
}

#splash-section > h1{
    font-size: 4rem;
}



#separator{
    background-color: black;
    width:2rem;
    height:100vh;
}

#timeline-block{
    max-height:30vh;
    overflow-y: auto;
}

li{
    margin-bottom:1rem;
}

#bfs-bi{
    width:55vw;
}

.to-mat{
    margin-bottom:2rem;
}