.NavBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
    min-height:66px;
    background-color: var(--color-charcol);
  }
  
  .NavBar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .NavBar li {
    margin: 0 10px;
  }
  
  .NavBar a {
    text-decoration: none;
    color: var(--color-white);

  }
  
  .NavBar a:hover {
    color: #666;
  }
  
  .activeLink {
    font-weight: bold;
  }

  @media screen and(min-width:600px) {
    
  }

  @media screen and(max-width:599px) {
    
  }
  .my-links-holder{
    min-width:200px;
  }
  
  .github-linkedin-header{
    max-height:30px;
  }

  #contact-me{
    color: var(--color-white);
    font-size: 18px;
    font-weight:600;
  }