#console {
    width:90%;
    height: 80vh;
    background-color: black;
    color: white;
    margin: 1rem;
    margin-top:2rem;
    overflow-y: auto;
}

.console-spacing{
  width:80%;
  margin:2rem;
  overflow-wrap: break-word;
}