#console {
    width:90%;
    height: 50%;
    background-color: black;
    color: white;
    margin: 1rem;
    margin-top:2rem;

}

.console-spacing{
  width:auto;
  max-height:100%;
  margin:2rem;

}