
.edit-color-modal{
    display: flex;
    align-items: center;
    width:160px;
}

.edit-color-buttons{
    margin-left:1rem;
    height:80%;
}
.edit-color-tile{
    width: 28px;
    height: 28px;
    border:1px var(--color-tile-blue) solid;
  }
.close-button-holder{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height:30px;
}


.change-color-holder{
    width:auto;
    display: flex;
    align-items: center;
    max-height:36px;
}

.change-color-holder > p{
    padding-left: 1rem;
    font-size:14px;
}
.color-picker-modal{
    width: 200px;
    height:40px;
}

.change-color-holder > p{
    color: var(--color-black-foreground);
}