
.edit-color-modal{
    display: flex;
    align-items: center;
}

.edit-color-buttons{
    margin-left:1rem;
    height:80%;
}
.edit-color-tile{
    width: 28px;
    height: 28px;
    border:1px var(--color-tile-blue) solid;
  }